.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.formContainer{
    position: absolute;
    background-color: white;
    height: 80vh;
    width: 30%;
    right: 0px;
    bottom: 100%;
    z-index: 2;
    max-height: 275px;
    padding: 0px !important;

}
.cancelBet{
    position: absolute;
    margin: 0px !important;
    top: 0px;
    left: -50%;
    height: 50px !important;
}