.container{
    display: flex;
}
.containerLeft{
    width: 40%;
}
.myGames{
    width: 40%;
    display: flex;
}
.aciveFriend{
    color: green;
}
.myGamesLeft{
    width: 50%;
}
.myGamesRight{
    width: 50%;
}