.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.containerLeft{
    width: 40%;
}
.myGames{
    width: 40%;
    display: flex;
}
.aciveFriend{
    color: green;
}
.myGamesLeft{
    width: 50%;
}
.myGamesRight{
    width: 50%;
}
.bgGreen{
    background-color: green;
}
.bgRed{
    background-color: red;
}
