
.container{
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fill-available;
    background-color: black;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    margin: none;
    padding: none;
}
.turnSideways{
   background-color: var(--backGround);
   position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fill-available;
    min-height: 100vh;
}
.container main{
    display: flex;
    justify-content: center;
}
.usersInRoom{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--pagePadding);
    top: 20px;
    right: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 10px;
}
.creatorButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pocket{
    display: flex;
    position: absolute;
    width: 50%;
    height: 10vh;
    justify-content: center;
    top: 90%;
    
}
.pocketCard{
    width: 20%;
    top: 50%;
    height: auto;
    
}
.pocketCard1{
    transform: translateX(20%) rotate(-5deg);
    
}
.pocketCard2{
    transform: translateX(-20%) rotate(5deg);
}
.table{
    background-image: url('../../../assets/images/NicePng_poker-table-png_1898993.png');

    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 90vw;
    min-height: calc(90vw * (300 / 625));
    max-height: 100vh;
    position: relative;
}
.flop{
    width: 37%;
    position: absolute;
    display: flex;
    top: 30%;
}
.flopCard{
    width: 20%;
    top: 50%;
    height: auto;
}
.pot{
    position: absolute;
    width: 20%;
    height: 10%;
    top: 54%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2vw;
    border-radius: 10px;
}

