

.container main{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    height: 100%;

}
.mainLeft{

}
.folded{
    background-color: blue;
    color:  white;
    border-radius: 100%;
}
.pocket{
    display: flex;
}
.flop{
    display: flex;
}
.table{
    background-image: url('../../../assets/images/NicePng_poker-table-png_1898993.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: calc(100vw * (300 / 625));
    position: relative;
}