

.container main{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    height: 100%;

}
.mainLeft{

}

.pocket{
    display: flex;
    position: absolute;
    width: 50%;
    justify-content: center;
    top: 90%
}
.pocketCard{
    width: 20%;
    top: 50%;
    height: auto;
}
.pocketCard1{
    transform: translateX(20%) rotate(-5deg);
}
.pocketCard2{
    transform: translateX(-20%) rotate(5deg);
}
.flop{
    display: flex;
}
.table{
    background-image: url('../../../assets/images/NicePng_poker-table-png_1898993.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: calc(100vw * (300 / 625));
    position: relative;
}
.flop{
    width: 50%;
    position: absolute;
    display: flex;
    top: 36%;

}
.flopCard{
    width: 20%;
    top: 50%;
    height: auto;
}