.container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.overlay{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.myTurnPopup{
    z-index: 2;
    position: absolute;
    left: 0%;
    bottom: -1%;
    width: 100%;
    height: 15%;
    background-color: rgb(254, 143, 31);
    left: 50%; /* Move it to the center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 1%;
    max-width: 1500px;

}
.toYou{
    font-size: 6%;
    line-height: .8;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.betForm{
    display: flex;
    position: absolute;
    align-items: center;
    right: 0%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(72, 30, 72);
}
.betInputContainer{
    display: flex;
    align-items: center;
    height: 100%;
    color: yellow
}
.betInput{
    width: 100%;
    height: 100%;
    margin-right: 9%;
    border-radius: 7px;
}
.raiseButton{
    width: 25%;
    height: 100%;
}
.cancelButton{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
  height: 100%;
  font-size: 16px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.callFoldRaise{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.maxRaise{
    color: white;
    margin-right: 2%;
}
.callFoldRaise button{
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 7px;
}
.betSubmit{
    
}