.container{
    display: flex;
    justify-content: space-between;
    padding-inline: var(--pagePadding);
    width: '100%';
    color: var(--secondaryFontColor);
    align-items: center;
    height: 72px;
}
.logOutButton{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.loggedOutNav{
    display: flex;
    justify-content: space-around;
    padding-inline: var(--pagePadding);
    width: '100%';
    color: var(--secondaryFontColor);
    align-items: center;
    height: 92px;
}
.burgerLogout{
    cursor: pointer;
}
.menuContainer{
    
}
.nav2{
    display: flex;
    padding-inline: var(--pagePadding);
    width: '100%';
    color: var(--secondaryFontColor);
    align-items: center;

}
.emptyProfile path{
    stroke: red;
}

@media screen and (max-width: 768px){
    .container{
        justify-content: space-between;
    }
}