.container{
    display: flex;
    justify-content: space-between;
    padding-inline: var(--pagePadding);
    width: '100%';
    color: var(--secondaryFontColor);
    align-items: center;
    height: 72px;
}

.logOutButton{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.loggedOutNav{
    display: flex;
    justify-content: space-around;
    padding-inline: var(--pagePadding);
    width: '100%';
    color: var(--secondaryFontColor);
    align-items: center;
    height: 92px;
}
.burgerLogout{
    cursor: pointer;
}
.menuContainer{
    
}
.nav2{
    display: flex;
    padding-inline: var(--pagePadding);
    width: '100%';
    color: var(--secondaryFontColor);
    align-items: center;
    justify-content: space-between;
}
.nav2 a{
    color: var(--secondaryFontColor);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav2 a svg{
    color: var(--secondaryFontColor);
    text-decoration: none;
    margin-right: var(--pagePadding);
    display: flex;
    align-items: center;
}
.emptyProfile path{
    stroke: red;
}
.navProfilePic{
    margin-right: var(--pagePadding);
    height: 15px;
    width: 15px;
    display: flex;
    object-fit: contain;
    align-items: center;
    fill: var(--secondaryFontColor);
}
.navProfilePicAndName{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px){
    .container{
        justify-content: space-between;
    }
}